*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

body{

    background-image: url("images/Design\ sem\ nome.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;    
}


header{
    display: block;
    background-color: aliceblue;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    max-width: 8%;
    height: auto;
}

.menu{
    display: flex;
    gap: 60px;
    text-decoration: none;
    list-style: none;
    margin-right: 4%;
    margin-top: 14px;
    
}

.menu a{
    color: rgb(0, 0, 0);
}

a{
    color: aliceblue;
}

.conteudo1{
 display: flex;
 flex-direction: column;
    margin-left: 10%;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: justify;
}


.primeiro{
    display: flex;
    gap: 7%;
    margin-right: 7%;
    margin-top: 15%;
}

.segundo{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 17%;
    margin-left: 10%;
    margin-right: 7%;
}

.img1{
    max-width: 40%;
}

footer{
    display: block;
    background-color: aliceblue;
    height: 20px;
    bottom: 0;
    width: 100%;
    
}

.pagina_idolos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 90px;
    justify-content: center;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    max-width: 1300px auto;
    
}

.idolo{
    text-align: center;
}


.imagens_idolos{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    border: 3px solid black;
}

.img_ind{
    width: 450px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.conteudo{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    gap: 30px;
}

.texto_ind{
    background-color: black;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 5%;
}

.voltar{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    padding: 5px 5px;
    border-radius: 10px;
    width: 50px;
    text-align: center;
    margin-left: 5%;
    margin-top: 1%;
}

.individual{
    margin-top: 1%;
}

table{
    border: 2px solid;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    color: aliceblue;
    font-size: 30px;
    align-items: center;

}