*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

body{

    background-image: url("images/Design\ sem\ nome.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;

    
}

header{
    display: block;
    background-color: aliceblue;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    max-width: 8%;
    height: auto;
}

.menu{
    display: flex;
    gap: 60px;
    text-decoration: none;
    list-style: none;
    margin-right: 4%;
    margin-top: 14px;
    
}

a{
    color: black;
}

.conteudo1{
 display: flex;
 flex-direction: column;
    margin-left: 10%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: justify;
}


.primeiro{
    display: flex;
    gap: 7%;
    margin-right: 7%;
    margin-top: 15%;
}

.segundo{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 17%;
    margin-left: 10%;
    margin-right: 7%;
}

.img1{
    max-width: 40%;
}

footer{
    display: block;
    background-color: aliceblue;
    height: 20px;
    bottom: 0;
    width: 100%;
    margin-top: 60px;
    
}

